<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482503805492-9arh90o23nqtnd4bhfqv8vbj8m2f1f5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482503805492-9arh90o23nqtnd4bhfqv8vbj8m2f1f5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCBRw1_i4igS_Rf8Mg-mMtI88iozv9kKAU</string>
	<key>GCM_SENDER_ID</key>
	<string>482503805492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imprezzio.internship.chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b18aa</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b18aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482503805492:ios:d6832834d04d676d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-b18aa.firebaseio.com</string>
</dict>
</plist>